@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$site-font-family: "Lato", sans-serif;
$primary-color: #4852a7;
$secondary-color: #df8eed;

$breakpoints: (
  "small-mobile": 320px,
  "med-mobile": 375px,
  "large-mobile": 425px,
  "tablet": 768px,
  "laptop": 1024px,
  "large-laptop": 1440px,
  "4k": 2560px,
);

@mixin res-bkpt($breakpoint) {
  $get-breakpoint: map-get($breakpoints, $breakpoint);
  @media screen and (min-width: $get-breakpoint) {
    @content;
  }
}

body {
  background-color: $primary-color;
  font-family: $site-font-family;
}

main {
  max-width: 500px;
  margin: auto;
  display: block;
}

.site-title {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: #dcc790;
  font-size: 2.8rem;
  margin: 1rem 0 2rem;
}

.code-section {
  border: 1px solid $secondary-color;
  border-radius: 25px;
  width: 85%;
  margin: auto;
  background-color: rgba($secondary-color, 0.3);
  padding: 1.5rem 0;
}

.code-ctr {
  background-color: #282727;
  padding: 0.6rem 0;
  margin: 0 auto 1.4rem;
  width: 80%;
  border-radius: 10px;

  @include res-bkpt("med-mobile") {
    max-width: 250px;
  }
}

.code {
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-align: center;

  @include res-bkpt("med-mobile") {
    font-size: 1.2rem;
  }
}

.generate-btn-ctr {
  display: flex;
}

.generate-btn {
  background: $secondary-color;
  color: #fff;
  border: none;
  margin: 0 auto;
  font-size: 1.1rem;
  padding: 0.4rem;
  border-radius: 10px;
  width: 150px;

  &:hover {
      cursor: pointer;
      background-color: rgba($secondary-color, 0.8);
  }

  @include res-bkpt("med-mobile") {
    font-size: 1.2rem;
  }

  @include res-bkpt("tablet") {
    font-size: 1.3rem;
  }
}

.description-ctr {
  margin: 2rem auto 1.5rem;
  width: 90%;
  font-size: 1.1rem;
}

.description {
  color: #fff;
  text-align: center;

  @include res-bkpt("med-mobile") {
    font-size: 1.2rem;
  }

  @include res-bkpt("tablet") {
    font-size: 1.3rem;
  }
}

.report-area {
  display: flex;
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}

.luna-img-ctr {
  width: 70px;
  margin-right: 10px;

  @include res-bkpt("med-mobile") {
    width: 90px;
  }

  @include res-bkpt("tablet") {
    width: 100px;
  }
}

.luna-img {
  width: 100%;
  height: auto;
  display: block;
}

.report-message {
  background: center / contain url("./dialog.png") no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-message-text {
  font-weight: bold;
  color: #877358;
  margin: 0;
  font-size: 0.85rem;
  padding: 0 18px;

  @include res-bkpt("med-mobile") {
    font-size: 1rem;
    padding: 0 20px;
  }

  @include res-bkpt("med-mobile") {
    font-size: 1.1rem;
    padding-left: 25px;
  }

  @include res-bkpt("tablet") {
    padding-left: 30px;
    font-size: 1.3rem;
  }
}

.report-btn {
  color: #11b0c3;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
